.navbar {
  height: 77px;
  justify-content: center;
  padding: 26px 40px;
  padding-left: 15%;
  padding-right: 15%;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  transition: height 0.3s linear 0.15s;
  // @media screen and (max-width: 1000px) {
  //   margin-right: 60px;
  //   margin-left: 60px;
  // }
  @media screen and (max-width: 630px) {
    padding-left: unset;
    padding-right: unset;
  }
  &.slide-up {
    height: 52px;
  }
  .item-header:first-child {
    img {
      height: 35px;
      width: 35px;
    }
  }
  .item-header:nth-child(2) {
    position: relative;
    width: 215px;
    height: 28px;
    min-width: 125px;
    @media screen and (max-width: 500px) {
      display: none;
    }
    .input {
      border: solid 1px #dbdbdb;
      border-radius: 3px;
      color: #262626;
      outline: 0;
      padding: 3px 10px 3px 26px;
      z-index: 2;
      height: 100%;
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      &::placeholder {
        font-size: 14px;
        line-height: 30px;
      }
    }
    .input-container {
      height: 100%;
      width: 100%;
      background: #fafafa;
      border: solid 1px #dbdbdb;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 3px;
      color: #999;
      cursor: text;
      font-size: 14px;
      font-weight: 300;
      left: 0;
      padding: 7px;
      position: absolute;
      text-align: center;
      top: 0;
      z-index: 2;
      .search-container {
        line-height: 10px
      }
    }
    .hide {
      display: none;
    }
  }
  .item-header:last-child {
    img {
      height: 30px;
      width: 30px;
      cursor: pointer;
      &:nth-child(2) {
        height: 24px;
        width: 24px;
      }
    }
  }
}

.organization-info {
  margin-top: 100px;
  padding-top: 60px;
  padding-bottom: 30px;
  img {
    height: 152px;
    width: 152px;
    border-radius: 50%;
    border: 1px solid #5353533f;
    @media screen and (max-width: 576px) {
      height: 77px;
      width: 77px;
    }
  }
  .organization-name {
    margin-bottom: 20px;
    h1 {
      font-size: 32px;
      line-height: 40px;
      font-weight: 200;
    }
    .dots {
      font-size: 25px;
      height: 10px;
      width: 10px;
      transform: translateY(-21px);
      cursor: pointer;
    }
    .arrow-btn {
      max-width: 35px;
      color: #FFF;
    }
    .btn {
      width: 100px;
      background: #3897f0;
      border-color: #3897f0;
      color: #fff;
    }
    .arrow {
        border: solid #FFF;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    
    .arrow.down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
  .organization-statistics {
    margin-bottom: 20px;
    .stats-points {
      font-weight: 500;
    }
  }
  .organization-description {
    a,
    a:visited {
      color: #003569;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.photos-container {
  height: 100vh;

  .photo-item {
    height: 250px;
    width: 100%;
    max-width: 250px;
    position: relative;
    cursor: pointer;
    &:hover {
      .photo-hover {
        opacity: 1;
        transition: opacity 0.15s linear;
      }
    }

    .photo-hover {
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: #00000033;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: bold;
      opacity: 0;
      transition: opacity 0.15s linear;
      .like {
        height: 15px;
        width: 15px;
        margin-right: 10px;
      }
    }
  }
  .loading {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: rgb(150, 150, 150);
    margin: 100px auto;
  }
}
