<nav class="navbar fixed-top" [ngClass]="{'slide-up': navigatorSlideUp}">
  <div class="container">
    <div class="item-header">
      <img src="../assets/images/logo_512x512.png" alt="icon">
    </div>
    <div class="item-header">
      <input class="input" 
      type="text" 
      placeholder="Search" 
      [clickOutsideEnabled]="enabled" 
      (click)="switchMask($event)" 
      #search
      (clickOutside)="onClickedOutside($event)">
      <div [ngClass]="{'hide': activeSearch}" class="input-container" role="button" (click)="switchMask($event); search.focus()">
        <div class="search-container">
          <span class="search-text">{{searchText}}</span>
        </div>
      </div>
    </div>
    <div class="item-header">
      <img src="../assets/images/explore.png" alt="icon">
      <img src="../assets/images/heart.png" alt="icon">
      <img src="../assets/images/person.png" alt="icon">
    </div>
  </div>

</nav>
<section class="container organization-info">
  <div class="row">
    <div class="col-md-4 my-4 justify-content-center align-self-center">
      <img class="img-fluid mx-auto d-block" src="{{organization.image}}">
    </div>
    <div class="col-md-8 d-flex flex-wrap">
      <div class="organization-name row w-100 align-items-center">
        <div class="col-auto">
          <h1>{{organization.name}}</h1>
        </div>
        <div class="col-auto">
          <button class="btn btn-sm font-weight-bold">Follow</button>
        </div>
        <div>
            <button class="btn btn-sm arrow-btn"><span class="arrow down"></span></button>
          </div>
          <div class="col-auto">
              <div class="dots">...</div>
            </div>
      </div>
      <div class="organization-statistics row w-100">
        <div class="col">
          <span class="stats-points">{{organization.statistics.posts}}</span>
          <span class="label">posts</span>
        </div>
        <div class="col">
          <span class="stats-points">{{organization.statistics.followers}}</span>
          <span class="label">followers </span>
        </div>
        <div class="col">
          <span class="stats-points">{{organization.statistics.following}}</span>
          <span class="label">following</span>
        </div>
      </div>
      <div class="organization-description row w-100">
        <div class="col">
          <p>{{organization.description}}</p>
          <a href="https://{{organization.link}}" target="_blank">{{organization.link}}</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container photos-container">
  <div *ngIf="photos" 
  class="row" 
  infiniteScroll 
  [infiniteScrollDistance]="2" 
  [infiniteScrollThrottle]="900" 
  (scrolled)="onScroll()"
  [scrollWindow]="true">
    <div *ngFor="let photo of photos; let i = index" class="col-lg-4 col-md-4 col-sm-6 col-12 my-3">
      <div class="photo-item mr-auto ml-auto" [ngStyle]="parseBackground(photo.urls.small)">
        <div class="photo-hover" (click)="openPhotoModal(i)">
          <img class="like" src="../../assets/images/like.png">
          <span>{{photo.likes}}</span>
        </div>
      </div>
    </div>
    <div class="loading" *ngIf="loading">
      <span>Fetching...</span>
    </div>
  </div>
</section>
