.login-container {
    height: 100vh;
    .container {
        height: 100vh;

        .card {
            width: 350px;
            box-shadow: 1px 1px 10px #181818;
        }
        .spinner::ng-deep circle {
            stroke: #dc3545;
        }
    }
}