<div class="login-container">
  <div class="container">
      <div class="col h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <mat-progress-spinner
            *ngIf="isFinish"
            class="spinner align-self-center"
            color="_green_"
            mode="indeterminate">
          </mat-progress-spinner>
          <div class="card" *ngIf="!isRegister && !isFinish">
            <div class="card-body">
              <h5 class="card-title">Welcome reader,</h5>
              <form [formGroup]="loginForm" (submit)="login()">
                <div class="form-group">
                  <label for="email" class="col-form-label">Email</label>
                  <div class="col-12">
                    <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" class="col-form-label">Password</label>
                  <div class="col-12">
                    <input type="password" class="form-control" minlength="2" maxlength="25" formControlName="password" id="password" placeholder="Password" required>
                  </div>
                </div>
                <div class="d-flex justify-content-start flex-wrap">
                  <button type="submit" class="btn btn-secondary mb-sm-0 mb-3 mr-sm-3 mr-0 col-sm-3 col-12">Login</button>
                  <button type="button" class="btn btn-danger col-sm-3 col-12" (click)="isRegister = true">Sign Up</button>
                </div>
              </form>
            </div>
          </div>

          <div class="card" *ngIf="isRegister && !isFinish">
            <div class="card-body">
              <h5 class="card-title">Reader Registration</h5>
              <form [formGroup]="registerForm" (submit)="register()">
                <div class="form-group">
                  <label for="email" class="col-form-label">Email</label>
                  <div class="col-12">
                    <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name" class="col-form-label">Name</label>
                  <div class="col-12">
                    <input type="text" class="form-control" formControlName="fullName" id="name" placeholder="Name" required>
                  </div>
                </div>
                <div class="form-group" formGroupName="passwords">
                  <label for="password" class="col-form-label">Password</label>
                  <div class="col-12">
                    <input type="password" class="form-control" minlength="2" maxlength="25" formControlName="password" id="password" placeholder="Password" required>
                  </div>
                </div>
                <div class="form-group" formGroupName="passwords">
                  <label for="repeat_password" class="col-form-label">Repeat password</label>
                  <div class="col-12">
                    <input type="password" class="form-control" minlength="2" maxlength="25" formControlName="confirmPassword" id="repeat_password" placeholder="Repeat password" required>
                  </div>
                </div>
                <div class="d-flex justify-content-start flex-wrap">
                    <button type="button" class="btn btn-secondary mb-sm-0 mb-3 mr-sm-3 mr-0 col-sm-3 col-12" (click)="isRegister = false">Back</button>
                  <button type="submit" class="btn btn-danger col-sm-3 col-12">Finish</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>