.modal-body {
  margin: 0;
  padding: 0;
  .arrow {
    border: solid #ffffff6c;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    &.left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
    &.right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
  .box-container {
    margin: 0;
    padding: 0;
  }
  .image-container {
    position: relative;
    &:hover .arrow {
        display: block;
        cursor: pointer;
        padding: 4px 4px;
    }
    .arrow {
      position: absolute;
      display: none;
      &.right {
        top: 50%;
        right: 10%;
      }
      &.left {
        top: 50%;
        left: 10%;
      }
    }
  }
  .follow-text {
    color: #3897f0;
    font-weight: bold;
    transform: translateY(-5px);
  }
  .description {
    font-size: 12px;
    transform: translateY(-16px)
  }
  .organization-photo {
    height: 33px;
    border-radius: 50%;
    border: 1px solid #5353533f;
    @media screen and (max-width: 576px) {
      height: 77px;
      width: 77px;
    }
  }
  .organization-name {
    margin-bottom: 20px;
    h1 {
      font-size: 32px;
      line-height: 40px;
      font-weight: 200;
    }
    .dots {
      font-size: 25px;
      height: 10px;
      width: 10px;
      transform: translateY(-21px);
      cursor: pointer;
    }
    .arrow-btn {
      max-width: 35px;
      color: #FFF;
    }
    .btn {
      width: 100px;
      background: #3897f0;
      border-color: #3897f0;
      color: #fff;
    }
  }
}
