<div class="modal-body">
  <div class="col box-container">
    <div class="row">
      <div class="col image-container">
        <img class="img-fluid" src="{{currentPhoto}}" alt="">
        <div class="arrow left" (click)="spinPhoto(false)"></div>
        <div class="arrow right" (click)="spinPhoto(true)"></div>
      </div>
      <div class="col">
        <section class="container">
          <div class="row">
            <div class="col-md-2 mb-5 justify-content-center align-self-center">
              <img class="organization-photo img-fluid mx-auto d-block" src="{{organization.image}}">
            </div>
            <div class="col-md-10 my-3 d-flex flex-column">
              <div class="organization-name row w-100 align-items-center">
                <div>
                  <h6>{{organization.name}}</h6>
                </div>
                <div class="col-auto follow-text">
                  Follow
                </div>
                <div class="col ml-auto">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
              <div class="description row w-100">
                {{organization.description}}
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
