<div class="grid-container articles">
  <h1 class="mat-h1 d-inline">Board, welcome {{currentUser && currentUser.fullName ? currentUser.fullName : ''}}</h1>
  <h6 class="logout d-inline float-right" (click)="logout()">Logout</h6>
  <mat-grid-list *ngIf="cards.length && !isLoading && !currentUser.admin" cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.topic}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            {{card.content}}
          </div>
        </mat-card-content>
        <mat-card-actions align="start">
          <button [ngClass]="{'mat-button': !card.liked, 'mat-button-liked': card.liked}" (click)="card.liked ? unlikeArticle(card.liked ,card.id) : likeArticle(card.liked ,card.id)">
              {{card.liked?'Unlike':'Like'}}
              <span>{{card.likes}}</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <div *ngIf="!cards.length && !isLoading && !currentUser.admin" class="container">
    <div class="d-flex justify-content-center align-items-center no-articles">
      {{noData}}
    </div>
  </div>
  <div *ngIf="isLoading" class="row d-flex justify-content-center align-items-center h-50">
      <mat-progress-spinner
      class="spinner align-self-center"
      color="accent"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <div *ngIf="currentUser && currentUser.admin" class="row p-2">
      <table mat-table [dataSource]="users" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element;let i = index"> {{i+1}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Full name </th>
            <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="registered">
            <th mat-header-cell *matHeaderCellDef> Date registered </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'dd-MM-yyyy'}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  </div>
</div>