.grid-container.articles {
  height: 100vh;
  margin: 20px;
  .logout {
    cursor: pointer;
  }
  table {
    width: 100%;
  }
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .dashboard-card-content {
    text-align: center;
    word-wrap: break-word;
  }
  .mat-button {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid #CCC;
    cursor: pointer;
    font-weight: bold;
    &:focus {
      outline: unset;
      box-shadow: 0 0 3px #ddd;
    }
  }
  .mat-button-liked {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid #dc3545;
    background-color: #ffffff;
    box-shadow: 0 0 3px #ddd;
    font-weight: bold;
    cursor: pointer;
    &:focus {
      outline: unset;
      box-shadow: 0 0 3px #ddd;
    }
  }
  .no-articles {
    font-size: 36px;
    font-weight: bold;
    color: #CCC;
  }
}
